.App {
  text-align: center;
  position: relative;
}

.icons-container {
  width: 90px;
  position: absolute;
  top: 710px;
  right: 500px;
  display: flex;
  border: 1px solid whitesmoke;
  align-items: center;
  justify-content: space-around;
  height: 45px;
  border-radius: 24px;
  color: hsl(240, 18%, 77%);
  background-color: white;
  transition-delay: 2s;
  box-shadow: 0 4px 10px 5px hsl(240, 18%, 77%);
}

.prevSlide:hover,
.nextSlide:hover {
  cursor: pointer;
  opacity: 0.5;
}

/* MEDIA QUERIES */
@media screen and (max-width: 450px) {
  .icons-container {
    top: 410px;
    right: 150px;
  }
}

@media screen and (min-width: 450px) {
  .avatar {
    background-size: contain;
  }
}
